<footer class="bg-[#2c1a0e] py-10 px-4 md:px-8">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-4">
        <!-- Logo -->

        <div class="flex items-center gap-3">
            <div class="w-14 h-10 rounded-full bg-[#2c1a0e] flex items-center justify-center">
                <img src="assets/images/general/favicon.png" alt="">
            </div>

            <div>
                <span class="text-[#f7f0e6] text-sm" style="font-family: 'Playfair Display', serif">
                    Los Trigales
                </span>

                <span class="text-[#8a6a50] text-xs block leading-none tracking-widest uppercase">
                    Una Pasta Diferente
                </span>
            </div>
        </div>

        <!-- Texto -->

        <p class="text-[#8a6a50] text-xs text-center">
            © 2026 Los Trigales · Fábrica de Pastas ·
            Buenos Aires, Argentina
        </p>

        <!-- Navegación -->

        <div class="flex gap-6">
            @for (item of links; track item.label) {

            <a [routerLink]="item.href"
                class="text-[#8a6a50] text-xs hover:text-[#f7f0e6] transition-colors uppercase tracking-wider">
                {{ item.label }}
            </a>

            }
        </div>
    </div>
</footer>